@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.opinion {
        padding: .5rem;

        width: 100%;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: end;
        text-justify: distribute;
}

.opinion > p {
        width: 100%;

}

.opinion > div {
        width: 100%;
}

.opinion-header {
        display: flex;
        flex-direction: row;
        gap: 1rem;
}

.opinion-header h2 {
        width: 100%;
        text-align: center;
}

.comment-containers {
        /* TODO */
        display: flex;
        flex-direction: column;
        height: 20px;
        width: 100%;
        border: 1px solid rgb(62, 62, 62);
        min-height: fit-content;

}

.comment-container {
        /* TODO */
        display: flex;
        flex-direction: column;
        height: 20px;
        width: 95%;
        border-bottom: 1px solid rgb(62, 62, 62);
        min-height: fit-content;

}

.date {
        align-self: left
}


.comment-console {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: end;
        padding: 0.5rem
}

.comment-console > textarea {
        width: 100%;
        border: 1px solid rgba(62, 62, 62, 0.5);
        border-radius: 0.5rem;
        padding: 0.25rem;
}

.comment-console > div {
        width: 100%;
        display: flex;
        justify-content: end;
        gap: 2rem;
}

.comment-console button {
        height: fit-content;
}
